@import '../../variable.scss';

.range{
        background: $light_gray;
        border: 1px solid #F3F3F3;
        box-sizing: border-box;
        border-radius: 3px;
        width: 468px;
        height: 15px;
        position: relative;
        margin-top: 41px;
        margin-bottom: 80px;
        .content_range{
            position: absolute;
            top: 2px;
            left: 2px;
            background: #296DCE;
            border-radius: 2px;
            height: 9px;
            width: 57%;
            font-size: 38px;
            line-height: 14px;
            color:$black;
            font-family: 'Proxima Nova Bold';
            .left_range_count{
                display: flex;                
                position: absolute;
                top: 25px;
                left: 0px;
                .number{
                    font-family: 'Proxima Nova Bold';                            
                    font-size: 38px;
                    line-height: 32px;
                    margin-right: 5px;
                }
                span{
                    font-size: 14px;                            
                    font-family: 'Proxima Nova Semibold'; 
                }
            }
            .right_range_count{
                display: flex;                
                position: absolute;
                top: 25px;
                left: 100%;
                .number{
                    font-family: 'Proxima Nova Bold';                            
                    font-size: 38px;
                    margin-right: 5px;
                    line-height: 32px;
                }
                span{
                    font-size: 14px;                            
                    font-family: 'Proxima Nova Semibold'; 
                }
            }                    

        } 
    }