@import '../../variable.scss';

.container{
    max-width: 1110px;
    margin: 0 auto;
    color: $font_color;
    font-size: 16px;
    padding: 0 10px;
}
header{    
    .main_menu{       
        background: $white;
        .content_menu{
            display: flex;
            justify-content: space-between;
            align-items: center; 
            line-height: 70px;
            nav{
                width: 50%;
                display: flex;
                justify-content: space-between;
                a{
                    font-family:'Proxima Nova Bold';
                    text-decoration: none;
                    color: $font_color;
                    font-size: 16px;                           
                    border-bottom: 2px solid transparent;
                    &:hover{
                        border-bottom: 2px solid $orange;
                    }
                    svg{
                        margin: 0 5px;
                    }

                }
               
            } 
            .mobile_menu{
                display: none;
                cursor: pointer; 
            } 
            .logo{
                img{
                    display: block;
                }
            } 
        }
        
    }
}