.container {    
    max-width: 1024px;    
    margin: 0 auto;    
    padding: 10px 20px;  
    
    
    .title{
        font-family: 'Proxima Nova';
        font-size: 36px;
        line-height: 42px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
}

    